torch==1.7.0+cu101
torchvision==0.8.1+cu101
opencv-python-headless==4.5.1.48
flask==1.1.2
numpy==1.19.4
Pillow==8.0.1
matplotlib==3.3.3
seaborn==0.11.0
pandas==1.1.4
scipy==1.5.4
requests==2.25.0
tqdm==4.54.0